<a href="https://colab.research.google.com/github/daniil-koblov/py_hw/blob/main/py_hw_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  human
4  robot

In [6]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       1      0
2       0      1
3       1      0
4       0      1
5       1      0
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      1      0
12      0      1
13      0      1
14      1      0
15      0      1
16      1      0
17      1      0
18      1      0
19      0      1

In [17]:
def human(x):
  if x == 'human':
    return '1'
  elif x == 'robot':
    return '0'
def robot(x):
  if x == 'robot':
    return '1'
  elif x == 'human':
    return '0'
data['human'] = data.whoAmI.apply(human)
data['robot'] = data.whoAmI.apply(robot)
data[['human', 'robot']]

   human robot
0      0     1
1      1     0
2      0     1
3      1     0
4      0     1
5      1     0
6      0     1
7      0     1
8      1     0
9      0     1
10     1     0
11     1     0
12     0     1
13     0     1
14     1     0
15     0     1
16     1     0
17     1     0
18     1     0
19     0     1